$darkmode: false;
$primary: #000000;
$onPrimary: #ffffff;
$primaryContainer: #d4d4d4;
$onPrimaryContainer: #000000;
$secondary: #000000;
$onSecondary: #ffffff;
$secondaryContainer: #bebebe;
$onSecondaryContainer: #000000;
$tertiary: #000000;
$onTertiary: #ffffff;
$tertiaryContainer: #ffffff;
$onTertiaryContainer: #000000;
$error: #000000;
$onError: #ffffff;
$errorContainer: #ffffff;
$onErrorContainer: #000000;
$colorbarbg: #ffffff;
$background: #ffffff;
$onBackground: #000000;
$surface: #f0f0f0;
$onSurface: #000000;
$surfaceVariant: #dddddd;
$onSurfaceVariant: #000000;
$outline: #525252;
$shadow: #000000;
$inverseSurface: #000000;
$inverseOnSurface: #ffffff;
$inversePrimary: #000000;
